.git
.gitignore
.idea
.vscode
*.iml
*.log
*.class
*.jar
*.war
*.ear
*.pyc
__pycache__
node_modules
npm-debug.log
.env
.env.*
.DS_Store
target
target/
build
build/
*.bak
*.backup
*.swp
*.swo
test
*.pem
*.key
*.crt
*.csr
vault